{
  "swagger": "2.0",
  "info": {
    "title": "TESTAPIUPLOAD",
    "version": "1.0",
    "description": "De webservice voor de actuele vertrektijden maakt het mogelijk om voor een station een actueel overzicht op te vragen van alle vertrekkende treinen voor het komende uur."
  },
  "host": "apim20ccm100.azure-api.net",
  "basePath": "/ns-api-avt",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "paths": {
    "/": {
      "get": {
        "description": "De response bestaat uit het element ActueleVertrekTijden dat per vertrekkende trein een element VertrekkendeTrein bevat.\n\nEen VertrekkendeTrein kan de volgende elementen hebben:\n<ul>\n<li> <strong>RitNummer (1):</strong> Identificerend nummer van de trein</li>\n<li><strong>VertrekTijd (1):</strong> Vertrektijd van de trein in minuten</li>\n<li><strong>VertrekVertraging (0..1):</strong> Vertraging in minuten</li>\n<li><strong>VertrekVertragingTekst (0..1):</strong> Vertraging presentatietekst</li>\n<li><strong>EindBestemming (1):</strong> Geplande eindbestemming van de trein</li>\n<li><strong>TreinSoort (1):</strong> Treinsoort (Intercity, Sprinter etc.)</li>\n<li><strong>RouteTekst (0..1):</strong> Verkorte weergave van de route die de trein rijdt. Er worden maximaal 4 stopstations opgenomen, waardoor het meestal een samenvatting is van de volledige route.</li>\n<li><strong>Vervoerder (1):</strong> Vervoerder van de trein.</li>\n<li><strong>VertrekSpoor (1):</strong> Vertrekspoor van de trein. Het attribuut \"wijziging\" geeft aan of er wel of niet sprake is van een spoorwijziging.</li>\n<li><strong>ReisTip (0..1):</strong> Tekstregel die een tip geeft over de reis. Hiermee wordt de aandacht gevestigd op mogelijk onverwachte kenmerken. Bv. een Intercity die stopt op alle tussengelegen stations.</li>\n<li><strong>Opmerkingen (0..1).</strong> Tekstuele opmerkingen bij de vertrekkende trein. Bestaat uit 0 of meer </li>\n<li><strong>Opmerking-elementen</strong>, die de afzonderlijke tekstregels bevatten. Bevat vrijwel altijd actuele ritwijzigingen, zoals \"Rijdt vandaag niet\".</li>\n</ul>\n",
        "operationId": "ActueleVertrekTijden",
        "summary": "ActueleVertrekTijden",
        "parameters": [
          {
            "name": "station",
            "in": "query",
            "description": "De code (afkorting) of korte naam of middellange naam of volledige naam of synoniem van de stationsnaa. Bijv. RTD of Utrecht",
            "required": true,
            "type": "string",
            "enum": [
              "RTD",
              "Utrecht"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Het overzicht met actuele vertrektijden van alle vertrekkende treinen voor het komende uur zijn succesvol opgevraagd.\n",
            "examples": {
              "XML": "<ActueleVertrekTijden>\n\n\t<VertrekkendeTrein>\n\t\t<RitNummer>3145</RitNummer>\n\t\t<VertrekTijd>2018-05-11T13:09:00+0200</VertrekTijd>\n\t\t\n\t\t\n\t\t<EindBestemming>Nijmegen</EindBestemming>\n\t\t<TreinSoort>Intercity</TreinSoort>\n\t\t\n\t\t\t<RouteTekst>Ede-Wageningen, Arnhem C.</RouteTekst>\n\t\t\n\t\t\n\t\t\t<Vervoerder>NS</Vervoerder>\n\t\t\n\t\t<VertrekSpoor wijziging=\"false\">18</VertrekSpoor>\n\t\t\n\t\t\n\t</VertrekkendeTrein>\n"
            }
          },
          "429": {
            "description": "Teveel requests verstuurd. Het dagelijkse limiet is bereikt."
          }
        },
        "produces": [
          "XML"
        ]
      }
    }
  },
  "tags": []
}